{% extends "base.html" %}

{% block title %}设备远程控制{% end %}


{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@2.9.2/dist/xterm.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@2.9.2/dist/addons/fullscreen/fullscreen.min.css">
<style>
    html,
    body,
    #content-wrapper {
        height: 100%;
    }

    #content-wrapper {
        display: flex;
        flex-direction: column;
    }

    #app {
        display: flex;
        flex-grow: 1;
    }

    .height100 {
        height: 100%;
    }

    .grow-0 {
        flex-grow: 0;
    }

    .grow-1 {
        flex-grow: 1;
    }

    .nopadding {
        padding: 0px;
    }

    .color-right {
        background-color: yellowgreen;
        color: white;
    }

    .color-wrong {
        color: red;
    }

    .debugarea {
        /* background-color: #ddd; */
        border: 1px solid red;
    }

    session.screen {
        position: relative;
    }

    .canvas-fg {
        z-index: 20;
        position: absolute;
    }

    .canvas-bg {
        z-index: 10;
    }

    .xterm-wrapper {
        line-height: 1.2;
        font-size: 12px;
        font-family: 'Courier New', Courier, monospace;
        height: 30em;
    }

    .terminal {
        border: 5px solid black;
    }
</style>
{% end %}

{% block navbarlinks %}
<a class="nav-item nav-link active" href="/">
    <i class="fas fa-list-alt"></i> 设备控制</a>
{% end %}
{% block nav %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <span class="title">ATXServer2</span></a>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">
                    <i class="fas fa-list-alt"></i> 设备控制</a>
                <a class="nav-item nav-link" href="/devices">
                    设备列表</a>
                <a class="nav-item nav-link" href="/uploads">
                    文件上传</a>
                <!-- <a class="nav-item nav-link active" href='/'> -->
                <!-- </a> -->
            </div>
            <div class="navbar-nav navbar-right ml-auto">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{current_user.email}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/user">用户信息</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
{% end %}

{% block content %}
<div class="container-fluid d-flex flex-column">
    <div class="row grow-1">
        <div class="col-sm debugarea d-flex flex-column justify-content-center nopadding grow-0">
            <section class="debugarea" style="height: 2rem; line-height: 2rem; justify-self: start">
                {{!udid}}
                <i v-if="displayLinked" @click="closeMirrorDisplay" class="fas fa-link" style="color: green"></i>
                <i v-else @click="mirrorDisplay" class="fas fa-unlink" style="color: red"></i>
            </section>
            <section class="screen debugarea d-flex grow-1 align-items-center justify-content-center"
                style="line-height: 0px">
                <!-- <canvas ref="fgCanvas" class="canvas-fg" v-bind:style="canvasStyle"></canvas> -->
                <canvas ref="bgCanvas" class="canvas-bg" v-bind:style="canvasStyle"></canvas>
                <span class="finger finger-0" style="transform: translate3d(200px, 100px, 0px)"></span>
                <span class="finger finger-1" style="transform: translate3d(200px, 100px, 0px)"></span>
                <!-- <img style="z-index: 10" v-if="loading" src="/assets/loading.svg"> -->
            </section>
            <section class="footer d-flex justify-content-around debugarea">
                <button class="btn btn-default grow-1" @click="runKeyevent('BACK')">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button class="btn btn-default grow-1" @click="runKeyevent('HOME')">
                    <i class="fas fa-home"></i>
                </button>
                <button class="btn btn-default grow-1" @click="runKeyevent('MENU')">
                    <i class="fas fa-bars"></i></button>
            </section>
        </div>
        <div class="col-sm debugarea" style="overflow-y: auto">
            <el-tabs v-model="activeName" @tab-click="handleTabClick">
                <el-tab-pane label="Terminal" name="terminal">
                    <p><code>Ctrl+Ins</code>复制，<code>Shift+Ins</code>粘贴</p>
                    <div ref="xterm" class="xterm-wrapper"></div>
                    <div>
                        <strong>常用命令</strong>
                        <ul>
                            <li>查看IP地址
                                <term-snippet :term="term" command="ifconfig | grep Mask" />
                            </li>
                            <li>查看前台应用
                                <term-snippet :term="term"
                                    command="dumpsys activity activities | grep mFocusedActivity" />
                            </li>
                            <li>列出第三方应用
                                <term-snippet :term="term" command="pm list packages -3" />
                            </li>
                            <li>屏幕分辨率
                                <term-snippet :term="term" command="wm size" />
                            </li>
                            <li>点亮屏幕
                                <term-snippet :term="term" command="input keyevent 224"></term-snippet>
                                熄灭屏幕
                                <term-snippet :term="term" command="input keyevent 223"></term-snippet>
                            </li>
                            <li>更多参考 <a href="https://github.com/mzlogin/awesome-adb" target="_blank">awesome-adb</a>
                            </li>
                        </ul>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="安装管理" name="second">配置管理</el-tab-pane>
                <el-tab-pane label="截图" name="screenshot">
                    <a :href="screenshotUrl">Screenshot</a>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>


</div>
{% end %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/xterm@2.9.2/dist/xterm.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/xterm@2.9.2/dist/addons/fit/fit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/css-element-queries@1.1.1/src/ResizeSensor.min.js"></script>
<script src="{{static_url('javascripts/imagepool.js')}}"></script>
<script>
    let udid = "{{udid}}"
    let userEmail = "{{current_user.email}}"

    function closeWindowWhenReleased() {
        setTimeout(function () {
            // FIXME(ssx): maybe websocket is better
            $.getJSON("/devices/" + udid + "?json")
                .done(function (ret) {
                    // console.log(ret.data.userId)
                    if (ret.data.userId !== userEmail) {
                        window.close()
                    }
                    closeWindowWhenReleased()
                })
                .fail(function (ret) {
                    console.log(ret)
                    alert("Fail connect to server")
                    // closeWindowWhenReleased()
                })
        }, 2000)
    }

    $.getJSON("/devices/" + udid + "?json")
        .then(ret => {

            closeWindowWhenReleased()

            vm = new Vue({
                el: "#app",
                data: Object.assign({
                    activeName: 'screenshot',
                    canvas: {
                        bg: null,
                        fg: null,
                    },
                    canvasStyle: {
                        opacity: 1,
                        width: '400px',
                        height: '200px'
                    },
                    displayLinked: false,
                    term: null, // Terminal object
                    websockets: {
                        screen: null,
                        touchpad: null,
                    },
                    imagePool: new ImagePool(100),
                }, ret.data),
                methods: {
                    runShell(command) {
                        return $.ajax({
                            method: "get",
                            url: this.deviceUrl + "/shell",
                            data: {
                                "command": command,
                            },
                            dataType: "json"
                        }).done((ret) => {
                            console.log(command, ret)
                        })
                    },
                    runKeyevent(key) {
                        return this.runShell("input keyevent " + key.toUpperCase())
                    },
                    handleTabClick(tab, event) {
                        console.log(tab.name)
                        if (tab.name == "terminal") {
                            if (!this.term) {
                                this.loadTerminal()
                            }
                        }
                    },
                    loadTerminal() {
                        let term;
                        let ws = new WebSocket("ws://" + this.address + "/term");
                        ws.binaryType = "arraybuffer"

                        function ab2str(buf) {
                            return String.fromCharCode.apply(null, new Uint8Array(buf));
                        }

                        ws.onopen = (evt) => {
                            term = new Terminal({
                                screenKeys: true,
                                useStyle: true,
                                cursorBlink: true
                            })
                            term.on('data', data => {
                                ws.send(new TextEncoder().encode("\x00" + data))
                            })

                            term.on("resize", evt => {
                                ws.send(new TextEncoder().encode("\x01" + JSON.stringify({
                                    cols: evt.cols,
                                    rows: evt.rows,
                                })))
                            })

                            term.on("title", title => {
                                console.log("title", title)
                            })

                            term.open(this.$refs.xterm);
                            term.fit()
                            this.term = term;

                            new ResizeSensor(this.$refs.xterm, function (e) {
                                console.log("Resize", e)
                                term.resize()
                                term.fit()
                            })
                        }

                        ws.onmessage = (evt) => {
                            if (evt.data instanceof ArrayBuffer) {
                                term.write(ab2str(evt.data))
                            } else {
                                alert(evt.data)
                            }
                        }

                        ws.onclose = (evt) => {
                            term.write("Session terminated");
                            term.destroy()
                        }

                        ws.onerror = (evt) => {
                            console.log(evt)
                        }
                    },
                    mirrorDisplay() {
                        var ws = new WebSocket(this.deviceUrl.replace(/^http/, "ws") + '/minicap');
                        ws.onopen = (ev) => {
                            console.log('screen websocket connected')
                            this.displayLinked = true
                            this.canvasStyle.opacity = 1;
                        };
                        ws.onmessage = (message) => {
                            if (message.data instanceof Blob) {
                                this.drawBlobImageToCanvas(message.data, this.canvas.bg)
                            } else if (/data size: /.test(message.data)) {
                                // console.log("receive message:", message.data)
                            } else if (/^rotation/.test(message.data)) {
                                self.rotation = parseInt(message.data.substr('rotation '.length), 10);
                                console.log(self.rotation)
                            } else {
                                console.log("receive message:", message.data)
                            }
                        }
                        ws.onclose = (ev) => {
                            console.log("screen websocket closed", ev.code)
                            if (this.displayLinked) {
                                this.$message({
                                    showClose: true,
                                    message: '设备屏幕同步中断',
                                    type: 'error',
                                    duration: 0,
                                });
                                this.displayLinked = false;
                            }
                        }

                        ws.onerror = function (ev) {
                            console.log("screen websocket error")
                        }

                        this.websockets.screen = ws;
                    },
                    closeMirrorDisplay() {
                        this.displayLinked = false
                        this.canvasStyle.opacity = 0.5;
                        if (this.websockets.screen) {
                            this.websockets.screen.close()
                            this.websockets.screen = null;
                        }
                    },
                    syncTouchpad() {
                        let ws = new WebSocket("ws://" + this.address + "/minitouch")
                        ws.onopen = (ret) => {
                            console.log("minitouch synced")
                            this.websockets.touchpad = ws
                        }
                        ws.onmessage = (message) => {
                            console.log("minitouch recv", message)
                        }
                        ws.onclose = () => {
                            this.websockets.touchpad = null;
                        }

                        let element = this.canvas.bg; // maybe fg is better

                        let mouseDownListener = (event) => {
                            var e = event;
                            if (e.originalEvent) {
                                e = e.originalEvent
                            }
                            e.preventDefault()

                            // Skip secondary click
                            // TODO(ssx): right click should equals HOME
                            if (e.which === 3) {
                                this.runKeyevent("HOME")
                                return
                            }


                            fakePinch = e.altKey
                            calculateBounds()

                            var x = e.pageX - screen.bounds.x
                            var y = e.pageY - screen.bounds.y
                            var pressure = 0.5
                            // activeFinger(0, e.pageX, e.pageY, pressure);

                            var scaled = coords(screen.bounds.w, screen.bounds.h, x, y, self.rotation);
                            // ws.write
                            control.touchDown(0, scaled.xP, scaled.yP, pressure);
                            control.touchCommit();

                            element.removeEventListener('mousemove', mouseHoverListener);
                            element.addEventListener('mousemove', mouseMoveListener);
                            document.addEventListener('mouseup', mouseUpListener);
                        }

                        function mouseMoveListener(event) {
                            var e = event
                            if (e.originalEvent) {
                                e = e.originalEvent
                            }
                            // Skip secondary click
                            if (e.which === 3) {
                                return
                            }
                            e.preventDefault()

                            var pressure = 0.5
                            activeFinger(0, e.pageX, e.pageY, pressure);
                            var x = e.pageX - screen.bounds.x
                            var y = e.pageY - screen.bounds.y
                            var scaled = coords(screen.bounds.w, screen.bounds.h, x, y, self.rotation);
                            control.touchMove(0, scaled.xP, scaled.yP, pressure);
                            control.touchCommit();
                        }

                        function mouseUpListener(event) {
                            var e = event
                            if (e.originalEvent) {
                                e = e.originalEvent
                            }
                            // Skip secondary click
                            if (e.which === 3) {
                                return
                            }
                            e.preventDefault()

                            control.touchUp(0)
                            control.touchCommit();
                            stopMousing()
                        }

                        function stopMousing() {
                            element.removeEventListener('mousemove', mouseMoveListener);
                            // element.addEventListener('mousemove', mouseHoverListener);
                            document.removeEventListener('mouseup', mouseUpListener);
                            deactiveFinger(0);
                        }

                        function activeFinger(index, x, y, pressure) {
                            var scale = 0.5 + pressure
                            $(".finger-" + index)
                                .addClass("active")
                                .css("transform", 'translate3d(' + x + 'px,' + y + 'px,0)')
                        }

                        function deactiveFinger(index) {
                            $(".finger-" + index).removeClass("active")
                        }

                        /* bind listeners */
                        element.addEventListener('mousedown', mouseDownListener);
                        element.addEventListener('contextmenu', event => event.preventDefault());
                        // element.addEventListener('mousemove', mouseHoverListener);
                        // element.addEventListener('mousewheel', mouseWheelListener);
                    },
                    fitCanvas(canvas) {
                        if (canvas.width > canvas.height) {
                            this.canvasStyle.height = "auto"
                            this.canvasStyle.width = canvas.parentElement.clientHeight + "px"
                        } else {
                            this.canvasStyle.height = canvas.parentElement.clientHeight + "px"
                            this.canvasStyle.width = "auto"
                        }
                    },
                    drawBlobImageToCanvas(blob, canvas) {
                        // Support jQuery Promise
                        var dtd = $.Deferred();
                        var ctx = canvas.getContext('2d'),
                            URL = window.URL || window.webkitURL,
                            BLANK_IMG =
                                'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
                            img = this.imagePool.next();

                        img.onload = () => {
                            canvas.width = img.width
                            canvas.height = img.height

                            ctx.drawImage(img, 0, 0, img.width, img.height);
                            this.fitCanvas(canvas)

                            // Try to forcefully clean everything to get rid of memory
                            // leaks. Note self despite this effort, Chrome will still
                            // leak huge amounts of memory when the developer tools are
                            // open, probably to save the resources for inspection. When
                            // the developer tools are closed no memory is leaked.
                            img.onload = img.onerror = null
                            img.src = BLANK_IMG
                            img = null
                            blob = null

                            URL.revokeObjectURL(url)
                            url = null
                            dtd.resolve();
                        }

                        img.onerror = function () {
                            // Happily ignore. I suppose this shouldn't happen, but
                            // sometimes it does, presumably when we're loading images
                            // too quickly.

                            // Do the same cleanup here as in onload.
                            img.onload = img.onerror = null
                            img.src = BLANK_IMG
                            img = null
                            blob = null

                            URL.revokeObjectURL(url)
                            url = null
                            dtd.reject();
                        }
                        var url = URL.createObjectURL(blob)
                        img.src = url;
                        return dtd;
                    },
                },
                mounted: function () {
                    this.canvas.bg = this.$refs.bgCanvas
                    this.canvas.fg = this.$refs.fgCanvas
                    let ctx = this.canvas.bg.getContext('2d');
                    this.mirrorDisplay()
                    this.syncTouchpad()

                    new ResizeSensor(this.canvas.bg.parentElement, (e) => {
                        this.fitCanvas(this.canvas.bg)
                    })

                    // save the bandwidth
                    document.addEventListener("visibilitychange", () => {
                        let pageHidden = document.hidden;
                        if (pageHidden) {
                            this.closeMirrorDisplay()
                        } else {
                            this.mirrorDisplay()
                        }
                    })
                },
                computed: {
                    deviceUrl() {
                        return "http://" + this.address
                    },
                    remoteTerminal() {
                        return "http://" + this.address + "/term"
                    },
                    screenshotUrl() {
                        return "http://" + this.address + "/screenshot"
                    }
                },
                components: {
                    "term-snippet": {
                        props: {
                            command: String,
                            term: Object,
                        },
                        methods: {
                            run() {
                                this.term.emit("data", this.command + "\n");
                                this.term.focus()
                            }
                        },
                        template: '<code style="cursor: pointer" @click="run" v-text="command"></code>'
                    }
                }
            })
        })
</script>
{% end %}