{% extends "base.html" %}

{% block title %}设备远程控制{% end %}


{% block style %}
<style>
  html,
  body,
  #content-wrapper {
    height: 100%;
  }

  #content-wrapper {
    display: flex;
    flex-direction: column;
  }

  #app {
    display: flex;
    flex-grow: 1;
  }

  .height100 {
    height: 100%;
  }

  .grow-0 {
    flex-grow: 0;
  }

  .grow-1 {
    flex-grow: 1;
  }

  .nopadding {
    padding: 0px;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .color-wrong {
    color: red;
  }

  .debugarea {
    /* background-color: #ddd; */
    border: 1px solid red;
  }

  .screen {
    position: relative;
    background-color: gray;
  }

  .canvas-fg {
    z-index: 20;
    position: absolute;
  }

  .canvas-bg {
    z-index: 10;
  }

  .bottom-gutter {
    margin-bottom: 10px;
  }

  .finger {
    position: absolute;
    border-style: solid;
    border-radius: 50%;
    border-color: white;
    border-width: 1mm;
    width: 6mm;
    height: 6mm;
    top: -3mm;
    left: -3mm;
    opacity: 0.7;
    pointer-events: none;
    background: red;
    z-index: 200;
    display: none;
  }

  .finger-1 {
    background-color: blue;
  }

  .finger.active {
    display: block;
  }

  .finger.longClick {
    border: 1mm solid rebeccapurple;
  }
</style>
{% end %}

{% block nav %}
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <span class="title">ATXServer2</span></a>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">
          <i class="fab fa-apple"></i> 苹果设备</a>
        <!-- <a class="nav-item nav-link active" href='/'> -->
        <!-- </a> -->
      </div>
      <div class="navbar-nav navbar-right ml-auto">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{current_user.email}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/user">用户信息</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </div>
        <form class="form-inline">
          <button class="btn btn-warning" type="button" @click="stopUsing">停止使用</button>
          <span ref="usingTime" class="navbar-text" style="margin-left: 1em">
            使用时长
          </span>
        </form>
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
{% end %}


{% block content %}
<div class="container-fluid d-flex flex-column">
  <div class="row grow-1">
    <div class="col-sm debugarea d-flex flex-column justify-content-center nopadding grow-0 height100">
      <section class="debugarea" style="height: 2rem; line-height: 2rem; justify-self: start">
        <span>
          <i v-if="displayLinked" class="fas fa-link" style="color: green"></i>
          <i v-else @click="mirrorDisplay" class="fas fa-unlink" style="color: red"></i>
        </span>
        <span>
          <i @click="hotfix" title="hotfix" class="fas fa-hammer"></i>
        </span>

      </section>
      <section class="screen debugarea d-flex grow-1 align-items-center justify-content-center"
        style="line-height: 0px">
        <!-- <canvas ref="fgCanvas" class="canvas-fg" v-bind:style="canvasStyle"></canvas> -->
        <canvas ref="bgCanvas" class="canvas-bg" v-bind:style="canvasStyle"></canvas>
        <span class="finger finger-0" style="transform: translate3d(200px, 100px, 0px)"></span>
        <span class="finger finger-1" style="transform: translate3d(200px, 100px, 0px)"></span>
        <!-- <img style="z-index: 10" v-if="loading" src="/assets/loading.svg"> -->
      </section>
      <section class="footer d-flex justify-content-around debugarea">
        <button class="btn btn-default grow-1" @click="pressHome">
          <i class="fas fa-home"></i>
        </button>
      </section>
    </div>
    <div class="col-sm debugarea height100" style="overflow-y: auto">
      <el-tabs v-model="activeName" @tab-click="handleTabClick">
        <el-tab-pane label="常用" name="common">
          <dl>
            <dt>Display</dt>
            <dd><code>{{!display.width}}x{{!display.height}}</code></dd>
            <dt>SessionID</dt>
            <dd><code v-text="session.id"></code></dd>
            <dt>Frames</dt>
            <dd><code v-text="session.frameCount"></code></dd>
            <dt>FPS</dt>
            <dd><code v-text="display.fps"></code></dd>
          </dl>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</div>
{% end %}

{% block script %}
<script>
  const udid = "{{udid}}"
  const userEmail = "{{current_user.email}}"

  $.getJSON("/api/v1/user/devices/" + udid)
    .then(ret => {

      // closeWindowWhenReleased()

      vm = new Vue({
        el: "#content-wrapper",
        data: Object.assign({
          activeName: 'common',
          canvas: {
            bg: null,
            fg: null,
          },
          canvasStyle: {
            opacity: 1,
            width: '400px',
            height: 'unset',
            maxHeight: "unset",
          },
          rotation: 0,
          displayLinked: true,
          session: {
            id: '',
            frameCount: 0,
          },
          display: {
            width: 0,
            height: 0,
            fps: 0,
          },
          pageHidden: false,
        }, ret.data),
        mounted: function () {
          this.canvas.bg = this.$refs.bgCanvas;

          // save the bandwidth
          document.addEventListener("visibilitychange", () => {
            this.pageHidden = document.hidden;
          })

          this.mirrorDisplay()
          this.syncTouchpad()
          this.hotfix()

          // show fps
          this.showFPS()

          // 防止设备被自动释放
          this.closeWindowWhenReleased(10000)

          // 更新使用时间
          setInterval(() => {
            let duration = moment.now() - moment(this.usingBeganAt)
            this.$refs.usingTime.innerHTML = moment.utc(duration).format("HH:mm:ss")
          }, 1000)
        },
        methods: {
          showFPS() {
            let frame = this.session.frameCount;
            setInterval(() => {
              console.log(this.session.frameCount, frame)
              this.display.fps = this.session.frameCount - frame
              frame = this.session.frameCount;
            }, 1000);
          },
          closeWindowWhenReleased(interval) {
            setTimeout(() => {
              if (document.hidden) {
                $.getJSON("/api/v1/user/devices/" + udid)
                  .done(ret => {
                    this.closeWindowWhenReleased(5000)
                  })
                  .fail(ret => {
                    let content = '设备' + this.idleTimeout + "秒内没有操作，设备自动释放，点击刷新重新占用该设备"
                    this.$alert(content, '设备超时提示', {
                      confirmButtonText: '刷新',
                      type: 'warning'
                    }).then(() => {
                      location.reload()
                    }).catch(() => {
                      window.close()
                    })
                  })
              } else {
                $.getJSON("/api/v1/user/devices/" + udid + "/active")
                  .done((ret) => {
                    this.closeWindowWhenReleased(interval)
                  })
                  .fail(function (ret) {
                    console.log(ret)
                    alert("设备可能被释放了，Press F12 to debug")
                  })
              }
            }, interval)
          },
          pressHome() {
            return $.ajax({
              url: this.path2url("/wda/homescreen"),
              method: "POST",
            })
              .then(function (ret) {
                console.log(ret);
              })
          },
          hotfix() {
            $.ajax({
              url: this.path2url("/status")
            }).then(ret => {
              this.session.id = ret.sessionId
            }).then(() => {
              return $.ajax({
                url: this.path2url("/session/" + this.session.id + "/window/size")
              })
            }).then(ret => {
              this.display.width = ret.value.width;
              this.display.height = ret.value.height;
            })
          },
          stopUsing() {
            $.ajax({
              method: "delete",
              url: "/api/v1/user/devices/" + this.udid,
              dataType: "json"
            }).always(() => {
              window.close()
            })
          },
          handleTabClick(tab, event) {
            console.log(tab.name)
          },
          path2url(pathname) {
            return this.source.wdaUrl + pathname
          },
          mirrorDisplay() {
            let
              canvas = this.canvas.bg,
              screenshotUrl = this.path2url("/screenshot"),
              ctx = canvas.getContext('2d'),
              BLANK_IMG =
                'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='

            if (this.pageHidden) {
              setTimeout(this.mirrorDisplay, 1000)
              return
            }

            $.ajax({
              url: screenshotUrl,
              dataType: "json",
            }).then((ret) => {
              this.session.frameCount += 1
              this.session.id = ret.sessionId;
              img = new Image();

              img.onload = () => {
                canvas.width = img.width
                canvas.height = img.height

                ctx.drawImage(img, 0, 0, img.width, img.height);
                img.onload = img.onerror = null
                img.src = BLANK_IMG
                img = null

                this.fitCanvas(canvas)
                this.mirrorDisplay()
              }
              img.onerror = () => {
                console.log("image load error")
              }

              img.src = "data:image/png;base64," + ret.value;
            })
          },
          syncTouchpad() {
            let bounds = {}
            let element = this.canvas.bg;

            function calculateBounds() {
              var el = element;
              bounds.w = el.offsetWidth
              bounds.h = el.offsetHeight
              bounds.x = 0
              bounds.y = 0

              while (el.offsetParent) {
                bounds.x += el.offsetLeft
                bounds.y += el.offsetTop
                el = el.offsetParent
              }
            }

            let coords = (e) => {
              let x = e.pageX - bounds.x
              let y = e.pageY - bounds.y
              x = Math.max(0, Math.min(bounds.w, x))
              y = Math.max(0, Math.min(bounds.h, y))
              return {
                fingerX: x,
                fingerY: y,
                x: Math.floor(x / bounds.w * this.display.width),
                y: Math.floor(y / bounds.h * this.display.height)
              }
            }


            let mousePos = {
              beganAt: null,
              down: null,
              up: null,
            }

            let wdaTouch = (x, y) => {
              return $.ajax({
                method: "POST",
                url: this.path2url("/session/" + this.session.id + "/wda/tap/0"),
                data: JSON.stringify({ x, y })
              })
            }

            let wdaSwipe = (fromX, fromY, toX, toY, duration) => {
              return $.ajax({
                url: this.path2url("/session/" + this.session.id + "/wda/dragfromtoforduration"),
                method: "POST",
                data: JSON.stringify({
                  fromX: fromX,
                  fromY: fromY,
                  toX: toX,
                  toY: toY,
                  duration: duration || 0.01, // seconds
                })
              })
            }

            let mouseUpOperate = (x, y) => {
              let duration = new Date() - mousePos.beganAt; // milliseconds
              console.log("hold duration", duration);

              const
                startX = mousePos.down.x,
                startY = mousePos.down.y,
                moveX = Math.abs(startX - x),
                moveY = Math.abs(startY - y);

              if (duration < 200 && moveX == 0 && moveY == 0) { // click
                console.log("touch", x, y)
                return wdaTouch(x, y)
              } else {
                console.log("swipe:", mousePos.down, "to", { x, y }, duration)
                return wdaSwipe(startX, startY, x, y, duration / 1000)
              }
            }


            const mouseDownListener = (event) => {
              let e = event;
              if (e.originalEvent) {
                e = e.originalEvent
              }
              e.preventDefault()

              // Middle click equals HOME
              if (e.which === 2) {
                this.pressHome()
                return
              }

              fakePinch = e.altKey
              calculateBounds()

              let { fingerX, fingerY, x, y } = coords(e)

              activeFinger(0, fingerX, fingerY);
              mousePos.beganAt = new Date()
              mousePos.down = { x, y }

              console.log("mouse down:", coords(e))

              document.addEventListener('mousemove', mouseMoveListener);
              document.addEventListener('mouseup', mouseUpListener);
            }

            function mouseMoveListener(event) {
              var e = event
              if (e.originalEvent) {
                e = e.originalEvent
              }
              e.preventDefault()

              let { fingerX, fingerY } = coords(e)
              var pressure = 0.5
              activeFinger(1, fingerX, fingerY, pressure);
            }

            function mouseUpListener(event) {
              var e = event
              if (e.originalEvent) {
                e = e.originalEvent
              }
              e.preventDefault()

              element.style.cursor = 'not-allowed' // not working
              element.style.pointerEvents = "none"

              let { fingerX, fingerY, x, y } = coords(e)

              activeFinger(1, fingerX, fingerY);

              stopMousing()
              element.removeEventListener("mousedown", mouseDownListener)

              mouseUpOperate(x, y).then(() => {
                recoverFingersAndMouse()
              })
            }

            function stopMousing() {
              document.removeEventListener('mousemove', mouseMoveListener);
              document.removeEventListener('mouseup', mouseUpListener);
            }

            function activeFinger(index, x, y, pressure) {
              var scale = 0.5 + (pressure || 0.5)
              $(".finger-" + index)
                .addClass("active")
                .css("transform", 'translate3d(' + x + 'px,' + y + 'px,0)')
            }

            function deactiveFinger(index) {
              $(".finger-" + index).removeClass("active")
            }

            function recoverFingersAndMouse() {
              deactiveFinger(0)
              deactiveFinger(1)
              element.style.cursor = ""
              element.style.pointerEvents = ""
              element.addEventListener('mousedown', mouseDownListener);
            }

            function preventHandler(event) {
              event.preventDefault()
            }

            /* bind listeners */
            element.addEventListener('mousedown', mouseDownListener);
          },
          fitCanvas(canvas) {
            if (canvas.width > canvas.height) {
              // 横屏显示，宽高相等
              this.canvasStyle.maxHeight = canvas.parentElement.clientHeight + "px";
              this.canvasStyle.height = "auto"
              this.canvasStyle.width = canvas.parentElement.clientHeight + "px"
            } else {
              this.canvasStyle.maxHeight = "unset"
              this.canvasStyle.height = canvas.parentElement.clientHeight + "px"
              this.canvasStyle.width = "auto"
            }
          },
          drawBlobImageToCanvas(blob, canvas) {
            // Support jQuery Promise
            var dtd = $.Deferred();
            var ctx = canvas.getContext('2d'),
              URL = window.URL || window.webkitURL,
              BLANK_IMG =
                'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==',
              img = this.imagePool.next();

            img.onload = () => {
              canvas.width = img.width
              canvas.height = img.height

              ctx.drawImage(img, 0, 0, img.width, img.height);
              this.fitCanvas(canvas)

              // Try to forcefully clean everything to get rid of memory
              // leaks. Note self despite this effort, Chrome will still
              // leak huge amounts of memory when the developer tools are
              // open, probably to save the resources for inspection. When
              // the developer tools are closed no memory is leaked.
              img.onload = img.onerror = null
              img.src = BLANK_IMG
              img = null
              blob = null

              URL.revokeObjectURL(url)
              url = null
              dtd.resolve();
            }

            img.onerror = function () {
              // Happily ignore. I suppose this shouldn't happen, but
              // sometimes it does, presumably when we're loading images
              // too quickly.

              // Do the same cleanup here as in onload.
              img.onload = img.onerror = null
              img.src = BLANK_IMG
              img = null
              blob = null

              URL.revokeObjectURL(url)
              url = null
              dtd.reject();
            }

            var url = URL.createObjectURL(blob)
            img.src = url;
            return dtd;
          },
        }
      })
    })
</script>
{% end %}