{% extends "base.html" %}

{% block title %}设备列表{% end %}

{% block script %}
{% end %}
{% block style %}
<style>
    .color-right {
        background-color: yellowgreen;
        color: white;
    }

    .color-wrong {
        color: red;
    }
</style>
{% end %}

{% block content %}
<div class="container">
    <h3>文件上传</h3>
    <div>
        <div>
            {{!title}}
        </div>
        <div>
        </div>
    </div>
</div>
{% end %}

{% block script %}
<script>
    new Vue({
        el: "#app",
        data: {
            title: "hello world",
        },
    })
</script>
{% end %}